 


.features__item::before {
    content: "";
    display: block;
    // max-width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;

    background-position: center center;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.features__item--icon1::before {
    background-image: url("../images/antenna.svg");
}

.features__item--icon2::before {
    background-image: url("../images/clock.svg");
}

.features__item--icon3::before {
    background-image: url("../images/diagram.svg");
}

.features__item--icon4::before {
    background-image: url("../images/astronaut.svg");
}

.section-features {
    padding-bottom: 0;
}

// .features__item {
//     max-width: 450px;
// }

// .features__item:not(:last-child) {
//     margin-right: 30px;
// }

.features__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    text-align: center;
}

.features__text {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .features {
        display: flex;
        flex-wrap: wrap;
        // margin: -15px;
    }

    .features__item {
        width: 354px;
        // margin: 15px;
    }

    .features__title {
        text-align: start;
    }
}
@media screen and (max-width: 1199.02px) {
    .features {
            margin: -15px;
        }
    
        .features__item {
            margin: 15px;
        }
}


@media screen and (min-width: 1200px) {
    .features__item {
     width: 270px;
    }

    .features__item:not(:last-child) {
        margin-right: 30px;
    }
}