.header {
    border-bottom: 1px solid #ececec;
}

.nav-list {
    display: none;
}


.header .nav {
    display: flex;
    align-items: center;
}

.nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link,
.contacts-list__link {
    font-weight: 500;
    line-height: 1.142;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.nav__link::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover.link::after {
    background-color: var(--accant-color);
}

.contacts-list {
    display: none;
}

.contacts-list__link {
    display: flex;
    color: var(--primary-text-color);

    &:hover .contacts-list__icon,
    &:focus .contacts-list__icon {
        fill: var(--accant-color);
    }
}

.contacts-list__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .header>.container,
    .nav-list {
        display: flex;
        text-align: center;
    }

    .contacts-list {
        display: flex;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199.02px) {
    .contacts-list {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    .contacts-list__link {
        padding: 5px 0;
    }
}

@media screen and (min-width: 1200px) {
    .contacts-list__item:not(:last-child) {
        margin-right: 50px;
    }

    .contacts-list__link {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}